.store {
    width: 100%;
}
.store-card {
    margin-bottom: 10px;
}

@media (min-width:900px){
    .store-card {
        width: 300px;
    }
}

.more-vert > button {
    float: right;
}

.pos {
    position: fixed;
}

.store-d {
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 2;
    background-color: white;
}

.item-div {
    position: relative;
    top: 80px;
}