<mat-toolbar class="tbar" color="primary">
  Login to continue
<span class="flex-spacer"></span>
<a mat-button (click)="dialogClose()">&times;</a>
</mat-toolbar>

<form class="loginform" novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-error style="font-size: 12px;">{{loginErrMess}}</mat-error>
</div>
<mat-dialog-content>
  <p>
    <mat-form-field>
      <input matInput placeholder="Email" type="email" [(ngModel)]="user.email" 
       autocomplete="email" email name="email" #email="ngModel" required>
      <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
      <mat-error *ngIf="email.errors?.email">Email is invalid</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" 
       minlength="6" autocomplete="current-password" id="current-password" name="current-password"
       #password="ngModel" aria-label="password" aria-describedby="password-constraints" required>
       <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
      <mat-error *ngIf="password.errors?.minlength">Minimum 6 characters required</mat-error>
    </mat-form-field>
  </p>
  <p>
    <a style="text-decoration: none;font-size: 13px;" href="#">Forgot Password?</a>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button type="submit" mat-button class="login-butn text-floral-white" [disabled]="loginForm.form.invalid">Login</button>
</mat-dialog-actions>
<div class="or">
<p style="text-align: center;">Or</p>
</div>

<p>
  <button mat-button class="social-butn text-floral-white" disabled type="button" (click)="socialSignIn('google')"><span class="fa fa-google fa-lg" aria-hidden="true"></span> Login with Google</button>
</p>
<p>
  <button mat-button class="social-butn text-floral-white" disabled type="button" (click)="socialSignIn('facebook')"><span class="fa fa-facebook fa-lg" aria-hidden="true"></span> Login with Facebook</button>
</p>

</form>