<div class="container"
  fxLayout="column wrap"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutAlign.md="space-around center"
  fxLayoutAlign.xs="left"
  fxLayoutGap="5px" 
  fxLayoutGap.xs="0"
>
  

    <div class="items-div" *ngIf="cartItems && loggedIn == true">
        <h2 *ngIf="totalQty == 1">Item in cart: {{totalQty}}</h2>
        <h2 *ngIf="totalQty > 1">Items in cart: {{totalQty}}</h2>
        <hr>
        <div *ngFor="let cartItem of cartItems" fxLayout="row wrap" >
          <div class="cart-items-div">
            <h3 style="color: rgb(29, 29, 29);">{{cartItem.part | titlecase}} for {{cartItem.vehicletype}}</h3>
            <p><strong>Model</strong>: {{cartItem.model | titlecase}} {{cartItem.year}}</p>
            <p><strong>Price</strong>: {{cartItem.price | currency:'NGN':'symbol-narrow':'3.0'}}</p>
            <p><strong>Store</strong>: {{cartItem.shopname}}, {{cartItem.address}}, {{cartItem.city}}, {{cartItem.state}}</p>
            <p><strong>Qty</strong>: <button class="qty-btn" color="warn" [hidden]="cartItem.qty === 1" (click)="subtractFromQty(cartItem._id, cartItem.qty)">-</button> 
              {{cartItem.qty}} <button class="qty-btn" color="warn" (click)="addToQty(cartItem.qty, cartItem._id)">+</button>
            </p>
            <div fxLayout="column" id="delivery-option"
              fxLayout.sm="column"
              fxLayout.xs="column">
              <p><i>Choose delivery method in order to calculate shipping cost.
                The default is "I will pick it up". If this store is in another city or state, 
                and you want it shipped to you, check the option that says "Deliver to me".</i></p>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="cartItem.delivery">
                <mat-radio-button class="checkit" (change)="getRadioValue($event, cartItem._id)" value=false >I will pick it up</mat-radio-button>
                <mat-radio-button class="checkit deliver" (change)="getRadioValue($event, cartItem._id)" value=true >Deliver to me</mat-radio-button>
              </mat-radio-group>
          </div>
            <p><strong>Sub total</strong>: {{cartItem.total | currency:'NGN':'symbol-narrow':'3.0'}}</p>
            <div style="margin-top: 5px;">
              <button mat-button class="add-to-cart" color="warn" (click)="removeFromCart(cartItem._id)">
                Remove from cart
              </button>
            </div>
          </div>
         
          <div class="img-div">
            <img src="{{cartItem.imageurl}}" style="width: 100%; margin-top: 20px;" alt="cart item image" /> 
          </div> 
          <div style="width: 100%;"><hr></div>
          
        </div>

        <div style="width: 100%;" *ngIf="delivery === true && shipping.length > 0">
          <h3 matLine>Shipping Information</h3>
          <mat-card>
            <p>{{shipping.address}}</p>
            <p>{{shipping.lga}}</p>
            <p>{{shipping.state}}</p>
          </mat-card>
        </div>
              
        <div style="width: 100%;" *ngIf="delivery === true && shipping.length == 0">
          <div>
            <h3 matLine>Shipping Information</h3>
            <p id="info"><i>Add delivery address, where you'd like your purchase delivered.
              You are shown this form because you chose the option that says "Deliver to me", 
              or because you do not have this info in our database already, or because you are not
              logged in. </i>
            </p>
          </div>
          <form [formGroup]="deliveryForm" novalidate #dform="ngForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="delivery-form" appearance="fill">
              <mat-label>Address</mat-label>
              <input matInput type="text" formControlName="address" name="address"  placeholder="Delivery address" required />
            </mat-form-field>
            <mat-form-field class="delivery-form" appearance="fill">
              <mat-label>L.G.A</mat-label>
              <input matInput type="text" formControlName="lga" name="lga" placeholder="L.G.A" required />
            </mat-form-field>
            <mat-form-field class="delivery-form" appearance="fill">
              <mat-label>State</mat-label>
              <input matInput type="text" formControlName="state" name="state" placeholder="State" required />
            </mat-form-field>
            <input type="checkbox" formControlName="save" name="save" /> &nbsp; <label>Save address for future use</label>
            <button mat-button type="submit" class="add-to-cart spacer" color="warn" [disabled]="deliveryForm.invalid" >Save address</button>
          </form>
        </div>
        
      <div>
        <p matLine *ngIf="totalSum != null"><strong>Total Sum</strong>: {{totalSum | currency:'NGN':'symbol-narrow':'3.0'}}</p>
        <div matLine *ngIf="cartItems.length != 0">
          <button mat-button class="enable-color text-floral-white" >
            Proceed to Payment
          </button>
        </div>
      </div>

      <div *ngIf="cartItems.length == 0">
        <h4>You have nothing in your cart, let's go shopping, shall we?</h4>
        <button matLine mat-button class="add-to-cart" color="warn" routerLink="/home">
          Navigate to home to search for auto parts
        </button>
      </div>
      <div *ngIf="cartErrMess">
        <h4>{{cartErrMess}}</h4>
      </div>
    </div>

    <div *ngIf="loggedIn == false">
      <h4>Sorry, but at this point you must log in before you can continue</h4>
      <button matLine mat-button class="add-to-cart" color="warn" (click)="login()">
        Login to view your cart
      </button>
    </div>
</div>