.add-to-cart {
    width: fit-content;
    border: 1px solid #bd2000;
}

.items-div {
    width: 100%;
}

@media(min-width: 900px) {
    .items-div {
        width: 60%;
    }
}

.img-div {
    width: 150px;
}

$qty-btn-size: 35px !default;
.qty-btn {
  height: $qty-btn-size;
  width: $qty-btn-size;
  border: 1px solid #bd2000;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}