.add-to-cart {
    width: fit-content;
    border: 1px solid #bd2000;
}

.items-div {
    width: 100%;
}

.item-in-cart {
    margin-top: 50px;
}

mat-radio-group span, #delivery-address span, #shipping-info, #save-address {
    cursor: pointer;
}

@media(min-width: 900px) {
    .items-div {
        width: 60%;
    }
}

$qty-btn-size: 35px !default;
.qty-btn {
  height: $qty-btn-size;
  width: $qty-btn-size;
  border: 1px solid #bd2000;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  //font-size:1.5em;
}

.shipping {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 35px;
}

.checkit {
    margin-bottom: 10px;
}
#delivery-option {
    font-size: 12px;
}

.deliver {
    margin-left: 0;
}

@media(max-width: 550px) {
    .deliver {
        margin-left: 0;
    }
}
/**/

/*.origin {
    margin-bottom: 10px;
}*/

.md-18 {
    font-size: medium !important;
}

#info {
    font-size: 12px;
    color: coral;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
  
.destination-div {
    margin-bottom: 40px;
    background-color: darkgreen;
}

.cart-items-div {
    width: 60%;
    margin-bottom: 40px;
    //background-color: goldenrod;
}

.img-div {
    width: 40%;
    margin-bottom: 30px;
    //background-color: yellowgreen;
}

@media(min-width: 700px){
    .img-div {
        width: 150px;
    }
}

.delivery-form {
    width: 100%;
}

.spacer {
    margin-top: 10px;
}

@media(min-width: 700px){
    .spacer {
        float: right;
    }
}

mat-card {
    position: relative;
    border-radius: 4px;
}

.edit {
    position: absolute;
    top: 4px;
    right: 3px;
    color: #000;
    //font-size: 1.5em;
}