<div class="container margins"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Create Store</h3>
        <hr>
    </div>
  </div>

  	

  	<div fxFlex fxFlexOffset="20px" class="form-size">
	    
	    <form novalidate [formGroup]="createshopForm" #csform="ngForm" *ngIf="showForm" (ngSubmit)="onSubmit()" >
	      	<p>
	        <mat-form-field class="half-width">
	          <input matInput formControlName="shopname" placeholder="Shop Name" type="text" required>
	          <mat-error *ngIf="formErrors.shopname">{{formErrors.shopname}}</mat-error>
	        </mat-form-field>
			</p>

			<p>
			<mat-form-field class="half-width">
				<mat-select placeholder="Select the state your shop is located" (valueChange)="onChangeState($event)" formControlName="state" required>
					<mat-option *ngFor="let state of states" [value]="state">
					{{ state }}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="formErrors.state">{{formErrors.state}}</mat-error>
			</mat-form-field>
			</p>

			<p>
			<mat-form-field class="half-width">
				<mat-select placeholder="Select local government" formControlName="lga" required>
					<mat-option *ngFor="let lga of lgas[0]" [value]="lga">
					{{ lga }}
					</mat-option>
			  </mat-select>
			  <mat-error *ngIf="formErrors.lga">{{formErrors.lga}}</mat-error>
			</mat-form-field>
			</p>

			<p>
				<mat-form-field class="half-width">
					<input matInput formControlName="address" placeholder="Address" type="text" required>
					<mat-error *ngIf="formErrors.address">{{formErrors.address}}</mat-error>
				</mat-form-field>
			</p>

	      	<p>
	        <mat-form-field class="half-width">
	          <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[+0-9]*" required>
	          <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
	        </mat-form-field>
			</p>

			<p>
	        <mat-form-field class="half-width">
	          <input matInput formControlName="email" placeholder="Email" type="email" email required>
	          <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
	        </mat-form-field>
	      	</p>

	     	 <p>
	        <mat-form-field class="full-width">
	          <textarea matInput formControlName="description" placeholder="Description" rows=5></textarea>
	        </mat-form-field>
	      	</p>

			<div *ngIf="createshopForm.invalid">
				<button type="submit" [disabled]="createshopForm.invalid" mat-button class='createshop-btn disable-color text-floral-white'>Create Shop</button>
			</div>
			<div [hidden]="createshopForm.invalid">
				<button type="submit" mat-button class='createshop-btn enable-color text-floral-white'>Create Shop</button>
			</div>
	      	
	    </form>
	</div>
	<div fxFlex [hidden]="showForm || response || createshopErrMess">
		<mat-spinner></mat-spinner><h4>Creating shop . . . Please Wait</h4>
	</div>
	<div *ngIf="response">
		<p id="reg-success" matLine>Your shop <strong>{{response.shopname}}</strong>, has been created, go to dashboard and list your auto parts
	   to expose your business to drivers and car owners.</p>
	   <div>
		<button (click)="goToDashboard()" type="button" mat-button class='dashboard-btn enable-color text-floral-white'>Go to Dashboard</button>
	   </div>
	</div>
	<div fxFlex *ngIf="createshopErrMess">
		<mat-error>{{createshopErrMess}}</mat-error>
		<button type="button" (click)="tryAgain()" mat-button class='try-again text-floral-white'>Try Again</button>
	</div>
</div>