.mat-icon-store {
    font-size: 100px;
}

.store {
    width: 100%;
}

.store-card {
    margin-bottom: 10px;
}

.spinner {
    margin-left: 45%;
    top: 150px;
}

@media (min-width:900px){
    .store-card {
        width: 300px;
    }
    .spinner {
        margin-left: 50%;
        top: 150px;
    }
}

.more-vert > button {
    float: right;
}