<div class="container margins"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex >
    <div>
      <div fxLayout="row">
        <h3>Dashboard</h3>
        <span class="flex-spacer"></span>
        <button style="height:fit-content; width:fit-content;" routerLink="/createshop" type="button" mat-button class='dashboard-btn enable-color text-floral-white'>Create New Store</button>
      </div>
      <hr>
    </div>
  </div>
  <div fxFlex *ngIf="shops"> 
    <div *ngIf="shops?.length > 1">
      <h4>My Stores</h4>
    </div>
    <div [hidden]="shops?.length > 1 || shops?.length == 0">
      <h4>My Store</h4>
    </div>
  </div>

  <div class="store" 
  fxFlex 
  fxLayout="row wrap" 
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutGap="10px" 
  *ngIf="shops">
      <mat-card fxLayout="column" class="store-card" *ngFor="let shop of shops">
        <span class="flex-spacer"></span>
        <div class="more-vert">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Edit</span>
            </button>
            <button mat-menu-item>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
        <div class="store-div">
          <mat-icon class="mat-icon-store">store</mat-icon>
          <mat-card-header>
            <mat-card-title>
              <h3>{{shop.shopname | titlecase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{shop.address | titlecase}}, {{shop.lga | titlecase}}, {{shop.state | titlecase}}</p>
            <button class="enable-color text-floral-white" mat-button [routerLink]="['/store', shop._id]">Enter store</button>
          </mat-card-content>
      </div>
      </mat-card>
  </div>
  <div *ngIf="shops?.length == 0">
    <p>You don't have any store yet.</p>
  </div>
  <div [hidden]="shops || errMess">
    <mat-spinner [diameter]="40" class="spinner"></mat-spinner>
  </div>
  
  <div *ngIf="errMess">
    <h5>{{errMess}}</h5>
    <button type="button" class="enable-color text-floral-white" mat-button (click)="tryAgain()">Fetch stores</button>
  </div>

</div>