/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';


// some basic resets 

body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
  
}

.container {
    margin: 30px;
    display:flex;
    align-items: top;
}

.flex-spacer {
  flex: 1 1 auto;
}

.disable-color {
  background-color: rgb(184, 190, 190);
}
.enable-color {
  background-color: #bd2000;
}

.social-butn {
  width: 100%;
  background-color: #bd2000;
}




$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}



.background-primary {
    background-color: $background-dark!important;
  }
.background-accent {
    background-color: $accent-color!important;
  }
.text-floral-white {
    color: floralwhite!important;
}
.tbar {
  height: 60px;
  background-color: #8c0000;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 100%;
  margin: 7px;
}

.form-size {
  width: 100%;
}

.dashboard-btn {
  width: 50%;
}

#reg-success {
  width: 100%;
}

@media (min-width: 900px){
  .full-width {
      width: 50%;
  }
  
  .half-width {
      width: 50%;
      margin: 5px;
  }
  
  .form-size {
      width: 75%;
  }

  #reg-success {
      width: 50%;
  }
  .dashboard-btn {
      width: 25%;
  }
}

.createshop-btn{
   //#a02905;
  width: 50%;
  color: #ffff;
  font-size: 1.1em;
}


.try-again {
  background-color: #bd2000;
  margin-top: 20px;
}


