.mheader {
    top: 0;
    height: 500px;
    width: 100%;
    background-image: url('../../assets/1st.png');
}

mat-form-field.form-width {
    width: 150px;
}

.search-button{
    background-color: #bd2000; //#a02905;
    width: 99%;
    height: fit-content;
    color: #ffff;
    font-size: 1.1em;
}

.mcard {
    top: 20px;
}

.spinner {
    margin-left: 45%;
    top: 50px;
}

.check {
    background-color: dimgrey;
}

.add-to-cart {
    width: fit-content;
    border: 1px solid #bd2000;
}

.results-div {
    position: relative;
    height: 200px;
    width: 100%;
}

@media(min-width:900px){
    mat-form-field.form-width {
        width: 135px;
    }

    .search-button{
        width: fit-content;
    }

    .mcard {
        top: 400px;
    }

    .results-div {
        margin-top: 70px;
    }

    .spinner {
        margin-left: 50%;
    }
}

@media(min-width:1400px){
    .results-div > mat-list {
        margin-left: 200px;
    }
}


#searchform {
    margin-top: 30px;
}

#searchform > h3 {
    margin-bottom: 20px;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #bd2000;
    color: white;
    border: none;
}

.button:hover {
    opacity: 0.8;
    font-weight: normal;
}

.fancy-button {
    background-color: white;
    color: #bd2000;
    text-decoration: none;
}

.fancy-button i.material-icons {
    color: #bd2000;
    padding-right: 4px;
}

.checkout-div {
    width: auto;
    height:  50px;
    background-color: #bd2000;
    padding: 16px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

@media(min-width:1400px){
    .checkout-div {
        height: 150px;
    }
}

@media(min-width:900px){
    .checkout-div {
        height: 200px;
    }
}