<div class="mheader">
  <div class="container"
    fxLayout="column"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutAlign.md="space-around center"
    fxLayoutGap="5px" 
    fxLayoutGap.xs="0">

    <mat-card class="mcard">
      <form [formGroup]="searchForm" novalidate #searchform="ngForm" (ngSubmit)="onSubmit()">

        <h2 style="text-align: center;">Find and Compare Spare Parts Prices in Nigeria</h2>

        <div id="form-div" fxLayout="row wrap"
             fxLayoutAlign.xs="center"
             fxLayoutGap="4px">
          <mat-form-field class="form-width" appearance="fill">
            <mat-label>Vehicle Type</mat-label>
            <input matInput type="text" formControlName="vehicletype" name="vehicletype" required>
          </mat-form-field>
          <mat-form-field class="form-width" appearance="fill">
            <mat-label>Model</mat-label>
            <input matInput type="text" formControlName="model" name="model" required>
          </mat-form-field>
        
          <mat-form-field class="form-width" appearance="fill">
            <mat-label>Year</mat-label>
            <input matInput type="text" formControlName="year" pattern="[+0-9]*" required>
          </mat-form-field>
          <mat-form-field class="form-width" appearance="fill">
            <mat-label>Part</mat-label>
            <input matInput type="text" formControlName="part" name="part" required>
          </mat-form-field>
          <mat-form-field class="form-width" appearance="fill">
            <mat-label>State</mat-label>
            <input matInput type="text" formControlName="state" name="state" required>
          </mat-form-field>
          <mat-form-field class="form-width" appearance="fill">
            <mat-label>City</mat-label>
            <input matInput type="text" formControlName="city" name="city" required>
          </mat-form-field>
          <button type="submit" mat-button class="search-button text-floral-white" [disabled]="searchForm.invalid" >Search</button>
        </div>   
      </form>
    </mat-card> 
  </div>
</div>
<div class="checkout-div">
  <a *ngIf="cartItems.length > 0" class="button fancy-button" routerLink="/cart">{{cartItems.length}}<mat-icon>shopping_cart</mat-icon>Checkout</a>
</div>

<div class="container"
fxLayout="column"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutAlign.md="space-around center"
fxLayoutGap="5px" 
fxLayoutGap.xs="0">
  

  <div class="results-div">
    <div [hidden]="showForm || results || searchErrMess">
      <mat-spinner [diameter]="40" class="spinner"></mat-spinner>
    </div>

    <mat-list *ngIf="results">
      <h3 *ngIf="results?.length < 2">{{results.length}} result in {{search.city}}, {{search.state}}</h3>
      <h3 *ngIf="results?.length > 1">{{results.length}} results in {{search.city}}, {{search.state}}</h3>
      <mat-list-item *ngFor="let result of results">
        <h3 matLine style="color: forestgreen;">{{result.part | titlecase}} for {{result.vehicletype}}</h3>
        <p matLine><strong>Model</strong>: {{result.model | titlecase}} {{result.year}}</p>
        <p matLine><strong>Price</strong>: {{result.price | currency:'NGN':'symbol-narrow':'3.0'}}</p>
        <p matLine><strong>Store</strong>: {{result.shopname | titlecase}}</p>
        <p matLine><strong>Address</strong>: {{result.address | titlecase}}, {{result.city | titlecase}}, {{result.state | titlecase}}</p>
        <p matLine><strong>Phone</strong>: {{result.telnum}}</p>
          <ng-container matLine *ngIf="cartItems.includes(result._id); else showRemoveBtn">
            <div matLine>
              <button mat-button class="remove-from-cart" color="warn" (click)="removeFromCart(result._id)">
                Remove from cart
              </button>
            </div>
          </ng-container>
          <ng-template matLine #showRemoveBtn>
            <button matLine mat-button class="add-to-cart" color="warn" (click)="addToCart(result)">
              Add to cart
            </button>
          </ng-template>
          
            
          
        
      </mat-list-item>
    </mat-list>
      
      <div id="search-ermess" *ngIf="searchErrMess">
        <h4>{{searchErrMess}}</h4>
      </div>
  </div>
</div>