@media(max-width:500px){
    mat-form-field.form-width {
        width: 175px;
    }
}

.background-primary{
    background-color: #bd2000; //#a02905;
    width: 100%;
    color: #ffff;
    font-size: 1.1em;
}

#searchform {
    margin-top: 30px;
}

#searchform > h3 {
    margin-bottom: 20px;
}